{% extends 'base/base.html' %}
{% block content %}

    <div class="register-container">
        <form method="post" enctype="multipart/form-data" class="register-form">
            <h2>Edit Profile</h2>
            {% csrf_token %}
            {{ form }}

            <button type="submit">Submit</button>

            <div class="login-link">
                <a href="{% url 'profile-details' profile.pk %}" class="sign-up-link">Cancel</a>
            </div>
        </form>
    </div>

{% endblock %}