{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="profile-container">
        <div class="profile-header">
            <h2 class="profile-name"><strong>{{ profile.full_name }}</strong></h2>

            {% if profile.profile_image %}
                <img src="{{ profile.profile_image.url }}" alt="Profile Picture" class="profile-image">
            {% else %}
                <img src="{% static 'images/default-avatar-profile-icon-social-600nw-1677509740.webp' %}"
                     alt="Profile Picture" class="profile-image">
            {% endif %}

            <ul class="edit-delete-profile">
                <li><a href="{% url 'edit-profile' profile.pk %}"><i class="fa-solid fa-pen-to-square"></i></a></li>
                <li>
                    <a href="{% url 'delete-profile' profile.pk %}" class="delete-btn">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="profile-section">
        <h3>Rented Cars</h3>
        {% if object.user.user_bookings.all %}
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for car in object.user.cars.all %}
                        <button type="button"
                                data-bs-target="#carouselExampleCaptions"
                                data-bs-slide-to="{{ forloop.counter0 }}"
                                class="{% if forloop.first %}active{% endif %}"
                                aria-current="{% if forloop.first %}true{% endif %}"
                                aria-label="Slide {{ forloop.counter }}">
                        </button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for booking in object.user.user_bookings.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ booking.car.image.url }}" class="d-block w-100" alt="Car Image">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ booking.car.make }} {{ booking.car.model_name }}</h5>
                                <p>
                                    From {{ booking.start_datetime|date:"Y-m-d H:i" }} <br>
                                    To {{ booking.end_datetime|date:"Y-m-d H:i" }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        {% else %}
            <p class="empty-msg">No rented cars</p>
        {% endif %}
    </div>

    <div class="profile-section">
        <h3>Cars You've Lent</h3>
        {% if object.user.cars.all %}
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <div class="carousel-indicators">
                        {% for car in object.user.cars.all %}
                            <button type="button"
                                    data-bs-target="#carouselExampleCaptions"
                                    data-bs-slide-to="{{ forloop.counter0 }}"
                                    class="{% if forloop.first %}active{% endif %}"
                                    aria-current="{% if forloop.first %}true{% endif %}"
                                    aria-label="Slide {{ forloop.counter }}">
                            </button>
                        {% endfor %}
                    </div>
                </div>
                <div class="carousel-inner">
                    {% for car in object.user.cars.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <a href="{% url 'car-details' car.pk %}">
                                <img src="{{ car.image.url }}" class="d-block w-100" alt="Car Image">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ car.make }} - {{ car.model_name }}</h5>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        {% else %}
            <p class="empty-msg">No rented cars</p>
        {% endif %}
    </div>
{% endblock %}