{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="profile-container">
        <div class="profile-header">
            <h2 class="profile-name"><strong>{{ profile.full_name }}</strong></h2>

            {% if profile.profile_image %}
                <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="profile-image">
            {% else %}
                <img src="{% static 'images/default-avatar-profile-icon-social-600nw-1677509740.webp' %}"
                     alt="Profile Picture" class="profile-image">
            {% endif %}

            <ul class="edit-delete-profile">
                <li><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-trash"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="profile-section">
        <h3>Rented Cars</h3>
            <ul class="car-list">
                {% for booking in object.user.user_bookings.all %}
                    <li>
                        {{ booking.car.make }} {{ booking.car.model_name }} –
                        from {{ booking.start_datetime|date:"Y-m-d H:i" }}
                        to {{ booking.end_datetime|date:"Y-m-d H:i" }}
                    </li>
                {% empty %}
            </ul>
                    <p class="empty-msg">No rented cars.</p>
                {% endfor %}
    </div>

    <div class="profile-section">
        <h3>Cars You've Lent</h3>
        <ul class="car-list">
            {% for car in object.user.cars.all %}
                <li class="car-profile-text">
                    Make: {{ car.make }};
                </li><li class="car-profile-text">
                    Model: {{ car.model_name }};
                </li>
                <li>
                    <img src="{{ car.image.url }}" alt="Car Image" class="car-image-profile">
                </li>

                </ul>
            {% empty %}
                <p class="empty-msg">No cars lent</p>
            {% endfor %}
    </div>
{% endblock %}