<footer class="site-footer">
        <div class="footer-inner">

          <div class="footer-col social-col">
            <h4>FOLLOW US</h4>
            <div class="social-links">
              <a href="https://www.facebook.com/niki.enkin" aria-label="Facebook">
                <div class="social-icon">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                Facebook
              </a>
              <a href="www.linkedin.com/in/nikola-enkin-ba0207176" aria-label="LinkedIn">
                <div class="social-icon">
                    <i class="fa-brands fa-linkedin"></i>
                </div>
                LinkedIn
              </a>
              <a href="https://www.instagram.com/nikola.enkin" aria-label="Instagram">
                <div class="social-icon">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                  Twitter
              </a>
            </div>
          </div>
      
          <div class="footer-col links-col">
            <h4>LVDrive</h4>
            <ul class="links-list">
              <li><a href="{% url 'cars-dashboard' %}">Cars</a></li>
              <li><a href="{% url 'about-us' %}">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>

        <hr class="footer-divider"/>
      <div class="footer-bottom">
         &copy; 2025 LVDrive. All Rights Reserved.
      </div>
</footer>