{% load static %}

<header>
        <section class="header-content">
        <article class="logo-container">
            {% if not request.user.is_authenticated %}
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/logo.png' %}" alt="LVDrive Logo">
                </a>
            {% else %}
                <a href="{% url 'cars-dashboard' %}">
                    <img src="{% static 'images/logo.png' %}" alt="LVDrive Logo">
                </a>
            {% endif %}

        </article>


        <nav>
            <ul>
                {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link home-button" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cars-dashboard' %}">Cars</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link home-button" href="{% url 'cars-dashboard' %}">Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create-car' %}">Add Car</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about-us' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact-us' %}">Contact Us</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile-details' user.pk %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                            Log Out
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </section>
    </header>

<form style="display: none;" id="logout-form" method="post" action="{% url 'logout' %}">
    {% csrf_token %}
</form>