body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo-container img {
    display: block;      
    width: 180px;        
    height: 90px;
    max-height: 90px;     
  }

header {
    background-color: #280137;
}

header nav ul {
    display: flex;
    list-style: none;
    margin-top: 20px;
}

.nav-item {
    margin: 0 15px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

.nav-link {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 28px;
    color: whitesmoke;
       
}

.nav-link:hover {
    color: #D4AF37;
    cursor: pointer;
    font-weight: bold;
}

.header-content {
    display: flex;
    padding: 10px 60px;
    align-items: center;
    justify-content: space-between;
}
  


.home-button {
    background-color: #D4AF37;
    color: white;
    padding: 10px 10px;
    border-radius: 7px;

}

.home-button:hover {
    color: #3a0f5c;
    font-weight: bold;
}