{% extends 'base/base.html' %}
{% block content %}

    <div class="register-container">
        <form method="post" enctype="multipart/form-data" class="register-form">
            <h2 class="title"><strong>Add Car</strong></h2>
            {% csrf_token %}
            {{ form }}
            
            <label>Additional Images: [Optional]</label>
            <input type="file" name="images" multiple>
            
            <button class="btn-submit" type="submit">Submit</button>
        </form>
    </div>

{% endblock %}