{% extends 'base/base.html' %}

{% block content %}

    <section class="cars-section">

        {% if request.user.is_authenticated %}
            <div class="search-wrapper">
                <form class="search-container" action="{% url 'cars-dashboard' %}">
                    {{ search_form }}
                    <button type="submit" class="search-btn">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="20" height="20"
                                viewBox="0 0 24 24"
                                fill="transparent"
                                stroke="white"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="ai ai-Search"
                        >
                            <path d="M21 21l-4.486-4.494M19 10.5a8.5 8.5 0 1 1-17 0 8.5 8.5 0 0 1 17 0z"/>
                        </svg>
                    </button>
                </form>
            </div>
        {% endif %}

        {% if cars %}
            <h2 class="section-title">Luxury Cars Available</h2>
            <div class="car-grid">
            {% for car in cars %}
                <div class="car-card">
                    <a href="{% url 'car-details' car.pk %}">
                        <div class="car-header">LVDrive | {{ car.year }}</div>
                        <div class="car-image">
                            {% if car.image %}
                                <img src="{{ car.image.url }}" alt="#">
                            {% endif %}
                        </div>
                        <h3 class="car-title">{{ car.make }} {{ car.model_name }}</h3>
                        <ul class="car-specs">
                            <li>HP: {{ car.horse_power }} HP</li>
                            <li>Engine Size: {{ car.engine_size }} cc</li>
                            <li>Body Type: {{ car.body_type|capfirst }}</li>
                            <li>Fuel Type: {{ car.fuel_type|capfirst }}</li>
                        </ul>
                        <div class="car-price">
                            {{ car.price_per_hour }} EUR / hour
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <h2 class="section-title">No Available Cars</h2>
        {% endif %}
        </div>
    </section>

    <div class="pagination-wrapper" aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&laquo;</span>
                </li>
            {% endif %}

            {% for page_num in paginator.page_range %}
                {% if page_num >= page_obj.number|add:"-1" and page_num <= page_obj.number|add:"1" %}
                    {% if page_num == page_obj.number %}
                        <li class="page-item active">
                            <span class="page-link">{{ page_num }}</span>
                        </li>
                    {% else %}
                        <li>
                        <a class="page-link" href="?page={{ page_num }}{% if query %}&query={{ query }}{% endif %}">{{ page_num }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </div>


{% endblock %}


